@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*   SASS TEMPLATE   */
/*  GLOBAL CLASSES  */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*  typography classes  */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-raleway {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template */
.color-primary {
  color: orange;
}

.color-primary-bg {
  background: orange;
}

.color-secondary {
  color: yellow;
}

.color-secondary-bg {
  background: yellow;
}

.color-blue {
  color: #00a2ff;
}

.color-blue-bg {
  background: #00a2ff;
}

.color-red {
  color: red;
}

.color-red-bg {
  background: red;
}

.color-pink {
  color: pink;
}

.color-pink-bg {
  background: pink;
}

.color-grey {
  color: grey;
}

.color-grey-bg {
  background: grey;
}

.color-black {
  color: black;
}

.color-black-bg {
  background: black;
}

.color-green {
  color: green;
}

.color-green-bg {
  background: green;
}

/*  top-sale template  */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(0.9);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 55px;
  color: orange;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/* Special-price section template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}
#special-price .grid .grid-item .product a {
  overflow: hidden;
}
#special-price .grid .grid-item .product img {
  transition: transform 0.5s ease;
}
#special-price .grid .grid-item .product img:hover {
  transform: scale(0.9);
}

/* New phones section template */
#new-phones .owl-carousel .item .product a {
  overflow: hidden;
}
#new-phones .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#new-phones .owl-carousel .item .product img:hover {
  transform: scale(0.9);
}
#new-phones .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#new-phones .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-prev span,
#new-phones .owl-carousel .owl-nav button.owl-next span {
  font-size: 55px;
  color: orange;
  padding: 0 1rem;
}
#new-phones .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#new-phones .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*# sourceMappingURL=style.css.map */
