/* Color Template */
.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-secondary-bg {
    background: $color-secondary;
}

.color-blue {
    color: $color-blue;
}

.color-blue-bg {
    background: $color-blue;
}

.color-red {
    color: $color-red;
}

.color-red-bg {
    background: $color-red;
}

.color-pink {
    color: $color-pink;
}

.color-pink-bg {
    background: $color-pink;
}

.color-grey {
    color: $color-grey;
}

.color-grey-bg {
    background: $color-grey;
}

.color-black {
    color: $color-black;
}

.color-black-bg {
    background: $color-black;
}

.color-green {
    color: $color-green;
}

.color-green-bg {
    background: $color-green;
}
