$font-Baloo: 'Baloo Thambi 2', cursive;
$font-Raleway: 'Raleway', cursive;
$font-Rubik: 'Rubik', cursive;
$color-primary: orange;
$color-secondary: yellow;
$color-blue: #00a2ff;
$color-red: red;
$color-pink: pink;
$color-grey: grey;
$color-black: black;
$color-green: green;

